*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: "OrticaAngular-Bold";
    src: url("font/OrticaAngular-Bold.woff2") format("woff2");
  }

@font-face { 
    font-family: "ApfelGrotezk-Mittel";
    src: url('font/ApfelGrotezk-Mittel.woff2') format('woff2');
  }

  @font-face { /*  bold */
    font-family: "ApfelGrotezk-Fett";
    src: url('font/ApfelGrotezk-Fett.woff2') format('woff2');
  }

  @media print {
    @media print {
        html, body {
          width: 200mm; /* Larghezza della pagina A4 in millimetri */
          height: 280mm; /* Altezza della pagina A4 in millimetri */
          margin: 0; /* Rimuove i margini predefiniti */
          padding: 0; /* Rimuove i padding predefiniti */
        }
      }
    .print-button {
      display: absolute;
    }
  }


/*  griglia di layout */
.grid {
    display: grid;
    margin: 0 auto;
    /* quante colonne sono necessarie */
    /* le colonne sono larghe almeno 250px */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* quante righe sono necessarie */
    /* le linee sono alte almeno 100px */
    grid-auto-rows: minmax(50px,auto);
    /* empie gli spazi vuoti nella griglia */
    grid-auto-flow: dense;
}

/* gli elementi con class="large" si distribuiscono su due colonne */
.large { 
    grid-column-end: span 5;
    max-height: 20cm;
}

/* I campi .header e .footer si estendono dalla prima all'ultima colonna (-1). */
.header,
.footer {
grid-column: 1 / -1;
}

/* tutti gli elementi in .grid  */
/* l'<header>, il <footer> e tutti gli <a>. */
.grid > * {
    background-color: black;
    position: relative;
    font-size: 150%;
    margin: 40;
}

/* mette un bordo a tutti gli elementi all'interno di .grid */
/* grazie ad uno "pseudo-elemento" inserito all'interno di ogni elemento */
.grid > *:after{
    content: '';
    display: block;
    position: absolute;
    border: 2px solid black;
    left: -2px;
    right: -2px;
    bottom: -2px;
    top: -2px;
}

body {
    margin: 20px;
    padding-right: 20px;
}

.header {
    /* display flessibile per la testata */
    display: flex;
}

/* titolo e sottotitolo */
h1, h2 {
    font-size: 48px; /* Adjust font size for print */
    margin: 0;
    padding-left: 30px;
}

/* titolo */
h1 {
    font-family: 'OrticaAngular-Bold';
        color: black;
        padding-left: 30px;
}

/* sottotitolo */
h2 {
    font-family: 'ApfelGrotezk-Mittel';
    color: black;
}

/* introduce uno "pseudo-elemento" all'interno di h2, prima del suo contenuto: (*before*) */
/* che genera un bordo alla sua sinistra */
/* il bordo è spostato in alto, in basso e a sinistra di 1px */
h2::before {
    font-family: 'ApfelGrotezk-Mittel';
    border-left: 1px solid;
    content: "";
    display: block;
    position: absolute;
    top:-1px;
    bottom: -1px;
    left:-1px;
}

/* nomi delle erbe */
a { font-family: 'ApfelGrotezk-Mittel';
    font-size: 12pt;
    padding: 30px;
    line-height: 0.9;
    color:black;
    text-decoration: none;
}

/* commento1 tra i box */
p1 {font-size: 12pt;
    color: black;
    text-decoration: none;   
}

p2 {font-size: 12pt;
    color: black;
    text-transform: italic;
    font-style: italic;
}

/* aggiustamento delle immagini */
img{
    width: 50%; /* Imposta la larghezza dell'immagine al 100% della larghezza della pagina */
    margin-left: 150px ; /* Aggiunge un margine superiore e inferiore di 20px e centra l'immagine orizzontalmente */
    filter: grayscale(100%); /* Apply grayscale filter */
}


/* per far si che non si vede il bottone di stampa*/
@media print {
    .print-button {
      display: none;
      }
  }

.print-button {
font-family: 'ApfelGrotezk-Mittel';
color: #662d91;
border: none;
}

