*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: "OrticaAngular-Bold";
    src: url("font/OrticaAngular-Bold.woff2") format("woff2");
  }

@font-face { 
    font-family: "ApfelGrotezk-Mittel";
    src: url('font/ApfelGrotezk-Mittel.woff2') format('woff2');
  }

  @font-face { /*  bold */
    font-family: "ApfelGrotezk-Fett";
    src: url('font/ApfelGrotezk-Fett.woff2') format('woff2');
  }

  @media print {
    .print-button {
      display: absolute;
    }
  }
 

/*  griglia di layout */
.grid {
    display: grid;
    margin: 0 auto;
    /* quante colonne sono necessarie */
    /* le colonne sono larghe almeno 250px */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* quante righe sono necessarie */
    /* le linee sono alte almeno 100px */
    grid-auto-rows: minmax(50px,auto);
    /* empie gli spazi vuoti nella griglia */
    grid-auto-flow: dense;
}

/* gli elementi con class="large" si distribuiscono su due colonne */
.large { 
    height: 650px;
    grid-column-end: span 2; 
}


/* I campi .header e .footer si estendono dalla prima all'ultima colonna (-1). */
.header,
.footer {
grid-column: 1 / -1;
}

/* tutti gli elementi in .grid  */
/* l'<header>, il <footer> e tutti gli <a>. */
.grid > * {
    background-color:#FAF9F6;
    position: relative;
    font-size: 150%;
    margin: 20;
}

/* mette un bordo a tutti gli elementi all'interno di .grid */
/* grazie ad uno "pseudo-elemento" inserito all'interno di ogni elemento */
.grid > *:after{
    content: '';
    display: block;
    position: absolute;
    border: 2px solid #662d91;
    left: -2px;
    right: -2px;
    bottom: -2px;
    top: -2px;
}

body {
    margin: 20px;
    background-color:#FAF9F6;
}

.header {
    /* display flessibile per la testata */
    display: flex;
}

/* titolo e sottotitolo */
h1, h2 {
    font-size: 1em;
    font-weight: 50;
    margin: 0;
    padding: 20px;
}

/* titolo */
h1 {
    font-family: 'OrticaAngular-Bold';
    /* dimensione del carattere in funzione della larghezza della finestra */
    font-size: 7vw;
    color: #662d91;
    line-height: 1.1;
    font-weight: 700;
    /* stesso valore di flex per h1 e h2 => stessa dimensione per entrambi */
    flex: 1;
}

/* sottotitolo */
h2 {
    font-family: 'ApfelGrotezk-Mittel';
    /* dimensione del carattere in funzione della larghezza della finestra */
    font-size: 2vw;
    line-height: 1.1;
    /* vedi sotto ::before */
    position: relative;
    /* stesso valore di flex per h1 e h2 => stessa dimensione per entrambi */
    flex: 1;
}

/* introduce uno "pseudo-elemento" all'interno di h2, prima del suo contenuto: (*before*) */
/* che genera un bordo alla sua sinistra */
/* il bordo è spostato in alto, in basso e a sinistra di 1px */
h2::before {
    font-family: 'ApfelGrotezk-Mittel';
    border-left: 1px solid;
    content: "";
    display: block;
    position: absolute;
    top:-1px;
    bottom: -1px;
    left:-1px;
}

/* nomi delle erbe */
a { font-family: 'ApfelGrotezk-Mittel';
    padding: 20px;
    color: #662d91;
    text-decoration: none;
}

/* commento1 tra i box */
p1 {font-size: x-large;
    color: #85a43b;
    text-decoration: none;   
}

p3 {font-family: 'ApfelGrotezk-Mittel';
    border: 2px dotted #85a43b;
    text-transform: none;
    font-size: 18px;
    color:#662d91;
    text-decoration: none;   
}

/* aggiustamento delle immagini */
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* per far si che non si vede il bottone di stampa*/
@media print {
    .print-button {
      display: none;
      }
  }

.print-button {
font-family: 'ApfelGrotezk-Mittel';
color: #662d91;
border: none;
}

